{% load static %}
<header class="py-3 mb-4 border-bottom">


    <div class="container-md">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        <a href="{% url 'campaigns_app:index' %}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
          <img src="{% static 'img/logo-home.png' %}" alt="" width="32" height="32" class="d-inline-block align-text-top">
        </a>

        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="{% url 'campaigns_app:index' %}" class="nav-link px-2 text-secondary">Principal</a></li>
          <li><a href="#" class="nav-link px-2">Enlace</a></li>
          <li><a href="#" class="nav-link px-2">Enlace</a></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Enlace
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="#">Sub</a></li>
              <li><a class="dropdown-item" href="#">Sub</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Sub</a></li>
            </ul>
          </li>
        </ul>

        <form method="get" action="{% url 'campaigns_app:search' %}" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="search">
          <input id="q" name="q" type="search" class="form-control" placeholder="Buscar..." aria-label="Search">
        </form>
      </div>
    </div>
  <!-- </div> -->
  </header>