{% extends 'structure.html' %}

{% block title %} Pagina de inicio {% endblock title %}

{% block header %}

{% include 'includes/header.html' %}

{% endblock header %}

{% block content %}

<div class="d-md-flex align-items-center justify-content-between mb-3" style="max-width: 600px;margin:auto">
  <h4 class="bd-title mb-0" id="content">Información básica</h4>
</div>

<div class="card p-3 px-4" style="max-width: 600px;margin:auto">

<div class="col-md-8 col-lg-12">
  <form method="POST" class="needs-validation" novalidate="">{{ form.fecha_creacion }}{% csrf_token %}

    <div class="row g-3">
      <div class="col-12">
        <label for="nombre" class="form-label">Nombre de la campaña</label>
        {{ form.nombre_campania }}
      </div>

      <div class="col-6">
          <label for="desde" class="form-label">Desde</label>
          {{ form.vigencia_desde }}
        </div>

        <div class="col-6">
          <label for="zip" class="form-label">Hasta</label>
          {{ form.vigencia_hasta }}
        </div>

      <div class="col-6">
        <label for="country" class="form-label">Clasificación</label>
        {{ form.id_clasificacion }}
      </div>

      <div class="col-6">
        <label for="country" class="form-label">Seguimiento</label>
        {{ form.tracking_id }}
      </div>
      

    </div>

    <hr class="my-4">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <button type="reset" class="btn btn-light">Limpiar</button>
      <button type="submit" class="btn btn-dark">Guadar</button>
    </div>
  </form>
</div>

</div>

{% endblock content %}