{% extends 'structure.html' %}

{% block title %} Pagina de inicio {% endblock title %}

{% block header %}

{% include 'includes/header.html' %}

{% endblock header %}

{% block content %}

<!-- <div class="list-group w-auto ">

    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
      <span class="rounded-circle flex-shrink-0 mb-0">1878</span>
      <div class="d-flex gap-2 w-100 justify-content-between">
        <div>
          <h6 class="mb-0">Nombre de la campaña</h6>
          <small class="mb-0 opacity-75">Clasificación &bull; 1540 &bull; 100 &bull; Seguimiento</small>
        </div>
        <small class="opacity-50 text-nowrap">25 mayo</small>
      </div>
    </a>
    <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <span class="rounded-circle flex-shrink-0 mb-0">1878</span>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Nombre de la campaña</h6>
            <small class="mb-0 opacity-75">Clasificación &bull; 1540 &bull; 100 &bull; Seguimiento</small>
          </div>
          <small class="opacity-50 text-nowrap">25 mayo</small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <span class="rounded-circle flex-shrink-0 mb-0">1878</span>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Nombre de la campaña</h6>
            <small class="mb-0 opacity-75">Clasificación &bull; 1540 &bull; 100 &bull; Seguimiento</small>
          </div>
          <small class="opacity-50 text-nowrap">25 mayo</small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <span class="rounded-circle flex-shrink-0 mb-0">1878</span>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Nombre de la campaña</h6>
            <small class="mb-0 opacity-75">Clasificación &bull; 1540 &bull; 100 &bull; Seguimiento</small>
          </div>
          <small class="opacity-50 text-nowrap">25 mayo</small>
        </div>
      </a>
      <a href="#" class="list-group-item list-group-item-action d-flex gap-3 py-3" aria-current="true">
        <span class="rounded-circle flex-shrink-0 mb-0">1878</span>
        <div class="d-flex gap-2 w-100 justify-content-between">
          <div>
            <h6 class="mb-0">Nombre de la campaña</h6>
            <small class="mb-0 opacity-75">Clasificación &bull; 1540 &bull; 100 &bull; Seguimiento</small>
          </div>
          <small class="opacity-50 text-nowrap">25 mayo</small>
        </div>
      </a>
  </div> -->

  
  
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre</th>
        <th scope="col">Fecha creación</th>
        <th scope="col">Fecha envío</th>
        <th scope="col">Clasificación</th>
      </tr>
    </thead>
    <tbody>
      {% for e in object_list %}
      <tr>
        <th scope="row">{{e.id_campania}}</th>
        <td>{{e.nombre_campania}}</td>
        <td>{{e.fecha_creacion}}</td>
        <td>{{e.fecha_envio}}</td>
        <td>{{e.id_clasificacion}}</td>
      </tr>
      {% endfor %}   

    </tbody>
  </table>

{% endblock content %}