{% extends 'generator.html' %}

{% block subtitle %}
Lista clientes
{% endblock subtitle %}

{% block crear %} {% endblock crear %}
{% block cargar %} active{% endblock cargar %}
{% block url_cargar %}{% url 'campaigns_app:load' pk %}{% endblock url_cargar %}
{% block url_filtrar %}{% url 'campaigns_app:filters' pk %}{% endblock url_filtrar %}
{% block publicar %} {% endblock publicar %}

{% block cardbody %}

    <form method="POST" enctype="multipart/form-data" class="needs-validation" novalidate="">{% csrf_token %}
      <div class="row g-3">
  
        <div class="col-12">
          <label for="formFile" class="form-label">Seleccionar archivo</label>
          <div style="float: right;">
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="option" id="inlineRadio2" value="cuitcuil" checked>
            <label class="form-check-label" for="inlineRadio2">Cuil</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="option" id="inlineRadio3" value="email">
            <label class="form-check-label" for="inlineRadio3">Email</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="option" id="inlineRadio1" value="id_cliente">
            <label class="form-check-label" for="inlineRadio1">Id</label>
          </div>
        </div>
            <!-- <input class="form-control" type="file" enctype="multipart/form-data" name="file" id="file"  accept=".csv, text/csv"> -->
            {{ form.file }}
          </div>

          <div class="col-12" style="display: none;">
            <label for="formFile" class="form-label">Cargar por:</label>
            <div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="optionx" id="inlineRadio2" value="cuitcuil" checked>
              <label class="form-check-label" for="inlineRadio2">Cuil</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="optionx" id="inlineRadio3" value="email">
              <label class="form-check-label" for="inlineRadio3">Email</label>
            </div>
            <div class="form-check form-check-inline">
              <input class="form-check-input" type="radio" name="optionx" id="inlineRadio1" value="id_cliente">
              <label class="form-check-label" for="inlineRadio1">Id</label>
            </div>
          </div>
          </div>

          <div class="col-6">
            <label for="listaNegra" class="form-label">Omitir lista negra</label>
            <select class="form-select" id="listaNegra" required="">
              <option value="">Seleccionar...</option>
              <option>Si</option>
            </select>
          </div>
  
          <div class="col-6">
            <label for="grupoControl" class="form-label">Grupo de control</label>
            <input type="number" class="form-control" id="grupoControl" placeholder="" value="" required="">
          </div>
          <!--  -->
          
<!--           <label class="form-label">Filtrar</label>
            <div class="col-12 mt-1">
              <div class="form-check form-check-inline col-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Primer</label>
              </div>
              <div class="form-check form-check-inline col-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Segundo</label>
              </div>

              <div class="form-check form-check-inline col-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Tercero</label>
              </div>
              <div class="form-check form-check-inline col-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Cuarto</label>
              </div>

              <div class="form-check form-check-inline col-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox1" value="option1">
                <label class="form-check-label" for="inlineCheckbox1">Quinto</label>
              </div>
              <div class="form-check form-check-inline col-4">
                <input class="form-check-input" type="checkbox" id="inlineCheckbox2" value="option2">
                <label class="form-check-label" for="inlineCheckbox2">Ultimo</label>
              </div>
            </div> -->
          
          
          <!--  -->
      </div>

      <hr class="my-4">

    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
      <!-- <a class="btn btn-light" href="">Omitir</a> -->
      <button type="reset" class="btn btn-light">Limpiar</button>
      <button type="submit" class="btn btn-dark">Guadar</button>
    </div>

    </form>
  {% endblock cardbody %}