{% extends 'structure.html' %}

{% block title %} Procesos ETL {% endblock title %}

{% block header %}

{% include 'includes/header.html' %}

{% endblock header %}

{% block content %}


  <div class="d-md-flex align-items-center justify-content-between mb-3">
    <h4 class="bd-title mb-0" id="content">Procesos ETL</h4>
  </div>
  <div class="card p-3">
  <table class="table table-sm align-middle table-hover">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Inicio</th>
        <th scope="col">Fin</th>
        <th scope="col">Observaciones</th>
      </tr>
    </thead>
    <tbody class="table-group-divider">
      {% for proc in procesos %}
      <tr>
        <td class="py-3">{{proc.nombre_proceso}}</td>
        <td>{{proc.fecha_inicio_proceso}}</td>
        <td>
          {{proc.fecha_fin_proceso}}
        </td>
        <td>
            {{proc.observaciones}}
        </td>
        <td>
        </td>
      </tr>
      {% endfor %}   

    </tbody>
  </table>

  
  {% if is_paginated %}
  <nav aria-label="...">
    <ul class="pagination justify-content-center mt-3">
      
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.previous_page_number}}">Anterior</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Anterior</a>
      </li>
      {% endif %}

      
      {% for pag in paginator.page_range %}
      {% if page_obj.number == pag %}
      <li class="page-item active" aria-current="page">
        <a class="page-link" href="?page={{ pag }}">{{ pag }}</a>
      </li>
      
      {% endif %}
      {% endfor %}

      {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{page_obj.next_page_number}}">Siguiente</a>
      </li>
      {% else %}
      <li class="page-item disabled">
        <a class="page-link">Siguiente</a>
      </li>
      {% endif %}
      
      {% endif %}
      
      
    </ul>
  </nav>

  </div>
{% endblock content %}