<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
        <li class="nav-item">
          <a class="nav-link {% block crear %} {% endblock crear %}" aria-current="true" href="#">Crear</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block cargar %} {% endblock cargar %}" href="#">Cargar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block filtrar %} {% endblock filtrar %}" href="#">Filtrar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% block publicar %} {% endblock publicar %}" href="#">Publicar</a>
        </li>
      </ul>
</div>